
$default-font-family-lowercase: 'Merriweather', serif;
$default-font-family-uppercase: 'Source Sans Pro', sans-serif;
$primary-color : #4c422a;
$secundary-color : white;
$color-menu-button: #72591c;
$color-title: #4c422a;
$color-hr: #f7edd7;
$color-text: #3b4444;
$color-border-article: #ebead9;
$breakpoint-tablet: 768px;
